/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: white;
  background: linear-gradient(to left, #402B0C, #959B58);
}

/******************************************
/* LAYOUT
/*******************************************/

header {
  display: inline-block;
  border: 5px solid rgba(0, 0, 0, .25);
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  text-align: center;
  position: fixed;
  margin-top: -116px;
  z-index: 1;
}

button {
  cursor: pointer;
  color: rgba(255, 255, 255, .65);
  border: 2px solid rgba(255, 255, 255, .25);
  transition: all .07s ease;
  outline: none;
  margin: 2px;
  background-color: rgba(1, 1, 1, .40);
}

input {
  background-color: rgba(255, 255, 255, .50);
  margin: 2px;
}

#searchBar {
  position: fixed;
  z-index: 2;
  margin: -85px 0 10px 0;
}

#gamemode input{
  height: 0.5rem;
  width: 0.5rem;
  margin: 5px;
}

#myImgs {
  max-height: 93%;
  max-width: 93%;
  margin: 6% 3%;
}

#deckBar {
  border: 5px solid rgba(0, 0, 0, .25);
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#myDeck {
  margin: 0 50px;
}

img {
  max-width: 10%;
  max-height: 10%;
  transition: all .25s ease;
}

img:hover {
  transform: scale(1.8);
}

button:hover {
  color: rgba(255, 255, 255, 1);
}

#myDeck > img {
  max-width: 5%;
  max-height: 5%;
  margin: 0 5px;
}

#myDeck > img:hover {
  transform: scale(2.8) translateY(-30%);
}

#hideMe {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
